body {
   overflow:hidden;
   background:#ffffff;
   font-family:'Century Gothic';
}

#pregameDiv {
    width: 100%;
    min-height: 1000px;
    background-color: black;
    color: white;
}

#playerSetup {
    margin: auto;
    width: 300px;
    padding-top: 20%;
    
}

#playerName {
    float: left;
    display: inline;
    margin: 0px;
    margin-right: 5px;
}

#playerNameTextbox {
    float: left;
    display: inline;
    margin: 0px;
}
#startGameButton {
    float: left;
    display: inline;
}

#hsDiv {
    position: fixed;
    top: 0;
    left: 10;
    z-index: 999;
    width: 100%;
}

.background {
    background: #ffffff;
    width: 600px;
    height: 600px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

#background-img {
    position: absolute;
    height: 1800px;
    width: 1800px;
}

.player {
    position: fixed;
}

#player-img {
    width: 50px;
    margin: auto;
}

.down {
    animation: rotationDown 2s 1;
}

.up {
    animation: rotationUp 2s 1;
}
.left {
    animation: rotationLeft 2s 1;
}
.right {
    animation: rotationRight 2s 1;
}

@keyframes rotationDown {
    from {
        transform: rotate(-70deg);
        transform-origin:top;
    }

    to {
        transform: rotate(45deg);
    }
}

@keyframes rotationUp {
    from {
        transform: rotate(70deg);
        transform-origin:top;
    }

    to {
        transform: rotate(-45deg);
    }
}

@keyframes rotationLeft {
    from {
        transform: rotate(70deg);
        transform-origin: top;
    }

    to {
        transform: rotate(-35deg);
    }
}

@keyframes rotationRight {
    from {
        transform: rotate(-70deg);
        transform-origin: top;
    }

    to {
        transform: rotate(35deg);
    }
}

.targets {
    position: absolute;
    height:80px;
}